.navbar{
    background-color: #FFFFFF;
}
.nav-link{
    font-weight: 600;
    font-size: 19px;
    margin-left: 5px;
}
.navbar-nav{
    margin-left: 310px;
}
.q3{
    font-weight: 600;
    font-size: 19px;
    margin-left: 5px;
    color: red;
}
.q4{
    background-color: #74C6D4;
}
.q5{
    font-family: 'Roboto Serif', serif;
color: #FFE25D;
font-weight: 700;
}
.q6{
    color: white;
    font-weight: 500;
}
.q7{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Roboto Serif', serif;
    color: white;
    padding: 12px 25px;
    background-color: #74C6D4;
    border: 2px solid white;
    border-radius: 20px;
}
.q9{
    
}
.w2{
    margin-left: 50px;
    width: 550px;
}
.w3{
    color: #74C6D4;
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 35px;
    margin-left: 25px;
}
.w4{
    margin-left: 25px;
    font-weight: 700;

}